#container{
    height:600px;
    width:60%;
    background-color: azure;
    margin:10px auto;
    border:2px solid black;
display: flex;
flex-direction: row ;
justify-content: flex-start;
/*flex-wrap: wrap;*/
/*align-items:baseline;*/
align-content: flex-start;
}
#org{
    align-self:baseline;
  /*  flex-basis: 300px;*/
  /*flex-grow:1;*/
  /*min-width: 400px;*/
  flex-grow: 2
}
#blue{
   /* flex-basis: 400px;*/
   /*flex-grow:2;*/
   flex-shrink:1 ;
}
h1{
    text-align:center;
}
#container div{
    height:100px; 
    width:300px;
    color:white;
    text-align: center;
font-size: 1.5em;
}